.App {
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;

  .h1 {
      font-size: 24px;
      margin-bottom: 20px;
    }

  .ship-container {
    display: flex;
    justify-content: space-between;
    background: #dddddd;
    align-items: center;
    border: 2px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    width: 600px;

    .ship-image {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        max-width: 100px;
        max-height: 100px;
      }
    }

    .icon {
      font-size: 24px;
      margin-right: 10px;
    }

    .ship-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-left: 10px;

      .ship-name {
        font-weight: bold;
      }
    }

    .film-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      label {
        font-size: 14px;
        margin-bottom: 5px;
      }

      p {
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 768px) {
    .ship-container {
      flex-direction: column;
      align-items: center;
      width: auto;

      .ship-info {
        align-items: center;
        margin-top: 10px;
        margin-left: 0;
      }

      .ship-image {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .film-info {
        align-items: center;
        justify-content: center;
        margin-top: 10px;
      }
    }
  }
}
